*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    
}


.item {
    background-color: #ff0037;
    color: white;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}