@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

img {
  width: 100%;
  min-height: 100%;
  object-fit: contain;
  margin: 10px;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  max-height: 100vh;
}

.panel {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 60px;
  height: 100%;
}

.panel .text {
  background-color: #eeeee7;
  color: #323230;
  padding: 10px 20px;
  height: 300px;
}

/* Welcome panel */
.panel.welcome {
  background-color: #323230;
  grid-auto-rows: 1fr;
}

.panel.welcome nav a {
  color: #a8a8a8;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.3s ease;
  position: relative;
}

.panel.welcome nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #a8a8a8;
  transition: width 0.3s ease;
}

.panel.welcome nav a:hover::after {
  width: 100%;
}

.panel.welcome p {
  color: #a8a8a8;
  line-height: 1.5em;
  max-width: 540px;
}

.panel.welcome h1 {
  color: #eeeee7;
  font-size: 3em;
}

.panel.welcome footer {
  align-self: end;
}

/* About panel */
.panel.about {
  background-color: #ffbe90;
  grid-template-rows: 1fr 1fr;
}

.panel.about img {
  overflow: hidden;
  margin: 0px;
}

/*Photos panel*/
.panel.photos {
  background-color: #ff9345 ;
  grid-template-rows: 1fr 2fr;
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
