*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 1px solid black;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  background-color: white;
}

.item {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 6px;

  transform: translateX(calc(200px * 8));
  animation: scrollLeft 40s linear infinite;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

@keyframes scrollLeft {
  to {
    transform: translateX(-200px);
  }
}

.item1 {
  animation-delay: calc(40s / 8 * -7);
}
.item2 {
  animation-delay: calc(40s / 8 * -6);
}
.item3 {
  animation-delay: calc(40s / 8 * -5);
}
.item4 {
  animation-delay: calc(40s / 8 * -4);
}
.item5 {
  animation-delay: calc(40s / 8 * -3);
}
.item6 {
  animation-delay: calc(40s / 8 * -2);
}
.item7 {
  animation-delay: calc(40s / 8 * -1);
}
.item8 {
  animation-delay: calc(40s / 8 * 0);
}

.item2 {
  background-color: #065751;
}

.item4 {
  background-color: #420592;
}

.item6 {
  background-color: #d0f111e7;
}

.item8 {
  background-color: #d46c16;
}
