*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 1px solid black;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
}

.item {
  width: 175px;
  height: 100px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: 100%;
  animation: scrollLeft 3s linear infinite;
  /* left: -175px; */
}

@keyframes scrollLeft {
  to {
    left: -175px;
  }
}
